@import url('https://fonts.googleapis.com/css2?family=Gaegu&display=swap');

body {
    background-color: brown;
}

h1 {
    text-align: center;
    margin-top: 100;
    font-family: "Gaegu", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 12.5rem;
}

h2 {
    text-align: center;
    font-family: "Gaegu", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 6rem; 
}

a {
    text-decoration: none;
}

#clicktostart, h1 {
    position: relative;
    text-align: center;
    font-family: "Gaegu", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 2rem;
}

#clicktostart:hover {

    border: 2px solid white;
    border-radius: 25px;
}