@import url('https://fonts.googleapis.com/css2?family=Gaegu&display=swap');

body {
    background-image: url(../img/asset1.png);
    background-repeat: repeat-y;
    cursor: url(../img/mightygirl.svg), auto;
}

h1 {
    text-align: center;
    margin-top: 0.625em;
    font-family: "Gaegu", sans-serif;
    font-weight:  25em;
    font-style: normal;
    color: white;
    font-size: 10rem;
}

h2 {
    text-align: center;
    font-family: "Gaegu", sans-serif;
    font-weight: 25em;
    font-style: normal;
    color: white;
    font-size: 6rem; 
}

a {
    text-decoration: none;
}

.clicktostart {
    margin: 15em;
    text-align: center;
    font-family: "Gaegu", sans-serif;
    font-weight:  25em;
    font-style: normal;
    color: white;
    font-size: 0.625em;
}


.clicktostart:hover {
    background-color: blue; 
    border-radius: 2em;
    transform: scale(1.2);
}

.help h1{
    text-align: center;
    margin-top: 0.625 em;
    font-family: "Gaegu", sans-serif;
    font-weight: 25em;
    font-style: normal;
    color: white;
    font-size: 5rem;
    margin-top: 5%;
}

.help h2 {
    text-align: center;
    margin-top: 0.625em;
    font-family: "Gaegu", sans-serif;
    font-weight:  25em;
    font-style: normal;
    color: white;
    font-size: 3rem;
    margin-top: 5%;
}

.help h2:hover {
    background-color: blue; 
    border-radius: 2em;
    transform: scale(1);
}


#words h1 {
    text-align: center;
    margin-top: 0.625em;
    font-family: "Gaegu", sans-serif;
    font-weight:  25em;
    font-style: normal;
    color: white;
    font-size: 3rem;
    margin-top: 5%;
}

#words h2 {
    margin-top: 1%;
}

#intro h2:hover {
    background-color: pink; 
    border-radius: 2em;
    transform: scale(1);
}


.win h1 {
    margin: auto;
    text-align: center;
    margin-top: 0.625em;
    font-family: "Gaegu", sans-serif;   
    font-weight:  25em;
    font-style: normal;
    color: white;
    font-size: 8rem;
    margin-top: 10%;
}

.win p {
    margin: auto;
    text-align: center;
    margin-top: 0.625em;
    font-family: "Gaegu", sans-serif;
    font-weight:  25em;
    font-style: normal;
    color: white;
    font-size: 2rem;
}

.win h1:hover {
    background-color: blue;
    border-radius: 2em; 
    transform: scale(1);
}


.titles h1 {
    text-align: center;
    margin-top: 0.625em;
    font-family: "Gaegu", sans-serif;
    font-weight:  25em;
    font-style: normal;
    color: white;
    font-size: 2rem;
}

.titles p {
    text-align: center;
    font-family: "Gaegu", sans-serif;
    font-weight:  25em;
    font-style: normal;
    color: white;
    font-size: 1.25em; 
}


.row::after {
    display:flex;
    justify-content: center;
    align-items: center;
}

.column {
    flex: 1;
    padding: 1.25em;
}

.column, img {
    margin: auto;
    max-width: 50%;
    text-align: center;
}

.column:hover {
    background-color: white;
    border: 0.125em solid white;
    border-radius: 1.5625em;

}

.playagain h1 {
    margin: 6rem;
    text-align: center;
    margin-top: 0.625em;
    font-family: "Gaegu", sans-serif;   
    font-weight: 25em;
    font-style: normal;
    color: white;
    font-size: 5rem;
}

.container {
    height: 6.25em;
    display: flex;
    justify-content: space-between;
}
  
.row1 {
    width: 6.25em;
    margin: auto;
    padding: 6.25em;
    border: 0.125em solid white;
}

.row2 {
    width: 6.25em;
    margin: auto;
    padding: 6.25em;
    border: 0.125em solid white;
}

.row1 h1 {
    font-size: 2em;
}

.row2 h1 {
    font-size: 2em;
}

.row1:hover {
    background-color: blue; 
    transform: scale(1.5);
}

.row2:hover {
    background-color: red; 
    transform: scale(1.5);
}



@media screen and (max-width:600px) {

    .playagain h1 {
        margin: 2em;
        font-size: 3em;
    }

    .container {
        height: 1em;
    }
    .row1 {
        width: 6.25em;
        margin: auto;
        padding: 3em;
        border: 0.125em solid white;
    }
    .row2 {
        width: 6.25em;
        margin: auto;
        padding: 3em;
        border: 0.125em solid white;
    }

    #intro h2 {
        margin: 2em;
        font-size: 3.5em;
    }

    .win h1 {
        margin: 2em;
        font-size: 3em;
    }

    .win p {
        margin: 2em;
        font-size: 2em;
    }
}