@import url('https://fonts.googleapis.com/css2?family=Gaegu&display=swap');

body {
    background-image: url(../img/asset1.png);
    background-repeat: repeat-y;
}

h1 {
    text-align: center;
    margin-top: 6.25em;
    font-family: "Gaegu", sans-serif;
    font-weight:  25em;
    font-style: normal;
    color: white;
    font-size: 10rem;
}

h2 {
    text-align: center;
    font-family: "Gaegu", sans-serif;
    font-weight: 25em;
    font-style: normal;
    color: white;
    font-size: 6rem; 
}

a {
    text-decoration: none;
}

.clicktostart {
    margin: auto;
    text-align: center;
    font-family: "Gaegu", sans-serif;
    font-weight:  25em;
    font-style: normal;
    color: white;
    font-size: 0.625em;
}


.clicktostart:hover {
    border: 0.125em solid white;
    border-radius: 1.5625em;
}

.help h1{
    text-align: center;
    margin-top: 6.25em;
    font-family: "Gaegu", sans-serif;
    font-weight: 25em;
    font-style: normal;
    color: white;
    font-size: 5rem;
    margin-top: 5%;
}

.help h2 {
    text-align: center;
    margin-top: 6.25em;
    font-family: "Gaegu", sans-serif;
    font-weight:  25em;
    font-style: normal;
    color: white;
    font-size: 3rem;
    margin-top: 5%;
}



#words h1 {
    text-align: center;
    margin-top: 6.25em;
    font-family: "Gaegu", sans-serif;
    font-weight:  25em;
    font-style: normal;
    color: white;
    font-size: 3rem;
    margin-top: 5%;
}

#words h2 {
    margin-top: 1%;
}

.win h1 {
    margin: auto;
    text-align: center;
    margin-top: 6.25em;
    font-family: "Gaegu", sans-serif;   
    font-weight:  25em;
    font-style: normal;
    color: white;
    font-size: 8rem;
    margin-top: 10%;
}

.win p {
    margin: auto;
    text-align: center;
    margin-top: 6.25em;
    font-family: "Gaegu", sans-serif;
    font-weight:  25em;
    font-style: normal;
    color: white;
    font-size: 2rem;
}

#intro img {
    margin-top: -30%;
    transform: scale(0.5);
}

.titles h1 {
    text-align: center;
    margin-top: 6.25em;
    font-family: "Gaegu", sans-serif;
    font-weight:  25em;
    font-style: normal;
    color: white;
    font-size: 2rem;
}

.titles p {
    text-align: center;
    font-family: "Gaegu", sans-serif;
    font-weight:  25em;
    font-style: normal;
    color: white;
    font-size: 1.25em; 
}

.row::after {
    display:flex;
    justify-content: center;
    align-items: center;
}

.column {
    flex: 1;
    padding: 1.25em;
}

.column, img {
    margin: auto;
    max-width: 50%;
    text-align: center;
}

.column:hover {
    background-color: white;
    border: 0.125em solid white;
    border-radius: 1.5625em;

}

.playagain h1 {
    margin: auto;
    text-align: center;
    margin-top: 6.25em;
    font-family: "Gaegu", sans-serif;   
    font-weight: 25em;
    font-style: normal;
    color: white;
    font-size: 5rem;
    margin-top: 10%;
}

.container {
    height: 12.5em;
    display: flex;
    justify-content: space-between;
}
  
.row1 {
    width: 0.2em;
    margin: auto;
    padding: 0.625em;
    border: 0.125em solid white;
}

.row2 {
    width: 0.2em;
    margin: auto;
    padding: 0.625em;
    border: 0.125em solid white;
}

.row1 h1 {
    font-size: 3em;
}

.row2 h1 {
    font-size: 3em;
}

.row1:hover {
    background-color: blue; 
    transform: scale(1.5);
}

.row2:hover {
    background-color: red; 
    transform: scale(1.5);
}


@media screen and (max-width:600px) {

}